div.content {
	
}

.content {
    width: 960px;
    margin: 0px auto;
}

div.content img.home-img {
	box-shadow: 0px 0px 6px black;
	width: 960px;
	border-radius: 0px 0px 4px 4px;
	border-bottom: 1px solid rgb(38, 131, 177);
	margin: 20px 0px 20px;
}
div.nav {
	
}
#onjuist {
	position: absolute;
	margin: -35px 0px 0px 10px;
	z-index: 999;
	color: white;
	font-size: 19px;
}

a.footerlink {
	width: 100%;
	text-align: right;
	float: right;
	padding: 12px 15px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid #B9B9B9;
	background-color: white;
}


.button {
	padding: 8px 22px 8px 22px;
	border: 1px solid rgb(38, 131, 177);
	background-color: rgb(63, 172, 226);
	border-radius: 4px;
	font-size: 15px;
	color: white;
	float: right;
	margin: 1% 14% auto auto;
	text-decoration: none;
	cursor: pointer;
}